<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    TygerCaddy
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'dashboard' %}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>



https://drive.google.com/file/d/1EvnXotZm8WiANnpeDJH5YxR3AFwXe0ck/view?usp=sharing
https://drive.google.com/uc?export=download&id=1EvnXotZm8WiANnpeDJH5YxR3AFwXe0ck